/*#binge-auth-page */
body {
  width: 100%;
  height: 100vh;
  /* background: url("../img/main-page/homepage-placeholder.jpg") center / cover no-repeat;
  background-image: linear-gradient(0deg, #0F0F0F, #2E2E2E);
  background-repeat: repeat; */
	background: linear-gradient(-45deg, #000000, #414141, #00232e, #333333, #000000);
	background-size: 400% 400%;
  animation: gradient 30s ease-in infinite;
white-space: normal;}

.centerCont{
  width: 100%;  
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.cardBlur{
  margin: 2%;
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: none;
    -webkit-transition: transform .2s;
  transition: transform .2s;
}



.cardBlur:hover{
  transform: scale(1.05);
}

p {
  color: white;
}

.defaultMargin {
  padding: 2%;
  width: 95%;

}

.defaultContainer {
  background-color: rgba(0, 0, 0, 0.50);
  border-radius: 10px;
  padding: 2%;
  width: 50vw;
  height: 40vh;
  overflow: scroll;
}
.adminContainer {
  background-color: rgba(0, 0, 0, 0.50);
  border-radius: 10px;
  padding: 2%;
  height: 80vh;
  overflow: scroll;
}

::-webkit-scrollbar {
    display:none;
}



/* Admin Page */


/* Filter sort */
.dropbtn {
display: inline-block;
  background-color: rgba(0, 0, 0, 0.50);
  padding: 10px;
  color: white;
  font-size: 16px;
  border-width: 0;
  border-radius: 5px;
    -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.dropdown {
  display: inline-block;
  z-index: 1;

}

.dropdown-content {
  display: none;
  border-radius: 5px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.50);
  z-index: 1;
    -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.dropdown-content a {
  color: white;
  padding: 14px;
  display: block;
  text-decoration: none;
    -webkit-transition: transform .2s;
  transition: transform .2s;
}

.dropdown-content a:hover {
  color: orange;
transform: scale(1.05);}


.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: rgba(0, 0, 0, 0.50);
  
}

/* User*/
.userDropdown {
  position: relative;
  display: inline-block;
}

.userDropdown-content {
  position: fixed;
  color: white;
  text-decoration: none;
  display: none;
  border-radius: 10px;
}

.userDropdown-content a {
  color: red;
}

.userDropdown:hover .userDropdown-content {
  display: block;
  background-color: rgba(0, 0, 0, 0.50);
}


/* login */


/* general body text  */
.bodyText {
  color: white;
  font-size: 2em;
}

.adminText {
  color: white;
  font-size: 1em;
}

.adminText input {
  color: orange;
  background: none;
  border: 10px;
}





#form-login {
  color: white;
}

/*main-page-style*/



.nav {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
}

.nav-blur {
  background: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.main-navbar {
  padding-top: 1%;
  padding-left: 2%;
}

.nav-link {
  font-size: 2em;
}



.filSoBtnMargin {
  padding-right: 3%;
  padding-top: 1%;
}


.main-nav-img {
  width: 2.5em;
  padding-right: .5em;
  margin-left: 2em;
}


#search input[type=text] {
  padding-right: 10px;
  float: right;
  text-align: right;
  width: 100px;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  border-radius: 5px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
#search input[type=text]:focus {
  width: 100%;
}


